@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@keyframes cursor-lg {
    0% {
        opacity: 0;
    }
	50% {
        opacity: 1;
	}
    100% {
        opacity: 0;
    }
}

@keyframes cursor-sm {
    0% {
        content: "";
    }
	50% {
        content: "|";
	}
    100% {
        content: "";
    }
}

@keyframes menu {
	0% {
		opacity: 0;
		max-height: 0;	
	}
	100% {
		opacity: 1;
		max-height: 100%;
	}
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background-color: rgba(128,128,128,0.5);
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
}

p {
	margin: 0;
}

a:hover {
	color: #808080 !important;
}

.dark {
	background-color: #151515 !important;
	color: #fcfcfc !important;
}

.dark a {
	background-color: transparent !important;
	color: #fcfcfc !important;
}

.light {
	background-color: #fcfcfc !important;
	color: #151515 !important;
}

.light a {
	background-color: transparent !important;
	color: #151515 !important;
}

body {
	height: 100vh;
	padding: 70px 0;
	margin: auto;
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	line-height: 100%;
	position: relative;
}

.container {
	padding: 0;
}

.row {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.site-name {
	display: flex;
	align-items: flex-start;
	width: auto;
	padding: 0;
	z-index: 1;
	font-weight: 300;
}

.navbar {
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	z-index: 1;
	text-align: right;
}

.navbar li {
	margin-left: 75px;
	font-size: 22px;
	font-weight: 300;
}

.navel {
	display: inline-block;
}

#switcher-menu {
	display: none;
	transition: transform .25s ease-in-out;
}

.cover {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50px;
}

.article, .aside {
	padding: 0;
}

.article p {
	font-size: 75px;
	line-height: 90%;
}

#print {
	font-weight: 700;
}

#print:after {
	font-weight: 400;
	content: "|";
}

.anim:after {
	animation: cursor-lg 1.5s step-end infinite;
}
.aside p {
	text-align: right;
	font-size: 26px;
}

@media(max-width: 991px) {
	body {
		padding: 25px;
	}

	.navbar li {
		margin-left: 0;
	}

	.navel {
		display: none;
	}

	.visible {
		display: block !important;
		max-height: 100%;
		animation: menu .25s ease-in-out;
	}

	#switcher-menu {
		display: inline-block;
	}
	
	.article {
		margin-bottom: 50px;
	}

	.article p {
		text-align: center;
		font-size: 40px;
	}

	.anim:after {
		animation: cursor-sm 1.5s step-end infinite;
	}

	.aside p {
		text-align: center;
		font-size: 18px;
	}
}

@media (prefers-color-scheme: dark) {
	body, a {
		background-color: #151515;
		color: #fcfcfc;
	}
}
  
@media (prefers-color-scheme: light) {
	body, a {
		background-color: #fcfcfc;
		color: #151515;
	}
}